{% extends 'base.html' %}

{% block content %}
    <form action="{% url 'accounts:login' %}?next={{ request.GET.next }}" method="POST">
        {% csrf_token %}
        <h1>Войти</h1>
        <div style="width: 20rem;">
            <div class="mb-3 row">
                <label for="username" class="col-sm-2 col-form-label">Логин</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="username" name="username">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="password" class="col-sm-2 col-form-label">Пароль</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="password" name="password">
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-light">Войти</button>
    </form>
{% endblock %}