{% extends 'base.html' %}

{% block menu_links %}
    <li><a href="{% url 'accounts:user_detail' user_obj.pk %}">Назад</a></li>
    <li><a href="{% url 'accounts:user_password_change' %}">Смена пароля</a></li>
{% endblock %}

{% block content %}
    <div>
        <form
                action="{% url 'accounts:user_update' user_obj.pk %}"
                method="POST"
                enctype="multipart/form-data"
        >
            {% csrf_token %}
            {% include 'partial/forms.html' with form=form fields_only=True %}
            {% include 'partial/forms.html' with form=profile_form fields_only=True %}

            <button class="btn btn-primary" type="submit">Сохранить</button>
        </form>
    </div>
{% endblock %}