{% extends 'base.html' %}

{% block menu_links %}
    <li><a href="{% url 'accounts:user_update' user_obj.pk %}">Редактировать профиль</a></li>
    <li><a href="{% url 'accounts:user_password_change' %}">Смена пароля</a></li>
{% endblock %}

{% block content %}
    <h1>
        Личный кабинет пользователя {{ user_obj.get_full_name|default:user_obj.username }}
    </h1>

    <div class="card" style="width: 25rem;">
        <div class="card-body">
            {% if user_obj.profile.avatar %}
                <img src="{{ user_obj.profile.avatar.url }}" alt="avatar" width="250">
            {% endif %}
            <p class="card-text">Логин: {{ user_obj.username }}</p>
            <p class="card-text">Имя: {{ user_obj.first_name }}</p>
            <p class="card-text">Фамилия: {{ user_obj.last_name }}</p>
            <p class="card-text">Дата рождения: {{ user_obj.profile.birthdate }}</p>
            <p class="card-text">Эл. почта: {{ user_obj.email }}</p>
        </div>
    </div>

    <h3 class="mt-5">Статьи пользователя:</h3>
    <div class="mb-5">
        {% include 'partial/article_list.html' %}
    </div>
{% endblock %}