{% extends 'base.html' %}

{% block menu_links %}
    <li><a href="{% url 'accounts:user_detail' user_obj.pk %}">Назад</a></li>
    <li><a href="{% url 'accounts:user_update' user_obj.pk %}">Редактировать профиль</a></li>
{% endblock %}

{% block content %}
    <h1>Смена пароля</h1>
    {% url 'accounts:user_password_change' as action_url %}
    {% include 'partial/forms.html' with action_url=action_url form_method='POST' %}
{% endblock %}