{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <div class="list-group">
                {% for author in authors %}
                    <a href="{% url 'author_update' author.pk %}" class="list-group-item list-group-item-action">{{ author }}</a>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="mt-3 mb-5">
        <a href="{% url 'author_create' %}" class="btn btn-success">Добавить автора</a>
    </div>

    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
{% endblock %}