{% extends 'base.html' %}

{% block content %}
    <form action="{% url 'genre_create' %}" method="POST" style="width: 30rem;">
        {% csrf_token %}
        {% for error in form.non_field_errors %}
            <p class="alert alert-danger">{{ error }}</p>
        {% endfor %}

        <div class="mb-3">
            <label for="{{ form.title.id_for_label }}" class="form-label">{{ form.title.label }}</label>
            <input type="text" name="title" id="{{ form.title.id_for_label }}" class="form-control">
            {% for error in form.title.errors %}
                <p class="text-danger">{{ error }}</p>
            {% endfor %}
        </div>

        <div>
            <label for="{{ form.description.id_for_label }}" class="form-label">{{ form.description.label }}</label>
            <textarea name="description" id="{{ form.description.id_for_label }}" rows="4" class="form-control"></textarea>
            {% for error in form.description.errors %}
                <p class="text-danger">{{ error }}</p>
            {% endfor %}
        </div>

        <input type="submit" value="Создать" class="btn btn-success">
    </form>
{% endblock %}