{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <div class="list-group">
            {% for genre in genres %}
                <a href="" class="list-group-item list-group-item-action">
                    {{ genre }}
                </a>
            {% endfor %}
        </div>
    </div>
</div>

<div class="mt-3">
    <a href="{% url 'genre_create' %}" class="btn btn-success">Добавить жанр</a>
</div>
{% endblock %}