{% extends 'base.html' %}

{% block content %}
    <div>
        <h3>Удаление статьи {{ article }}</h3>
        <form action="{% url 'article_delete' article.pk %}" method="POST">
            {% csrf_token %}
            <div class="card-body">
                <p class="card-text">Вы действительно хотите удалить статью {{ article.pk }}?</p>
                <div>
                    <button type="submit" class="btn btn-primary">Удалить</button>
                    <a class="btn btn-light" href="{% url 'article_detail' article.pk %}" role="button">Отмена</a>
                </div>
            </div>
        </form>
    </div>
{% endblock %}