{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ article.title }}</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">{{ article.author }}</h6>
                    <p class="card-text">{{ article.body }}</p>
                    <div>
                        {% if perms.articles.change_article %}
                            <a class="btn btn-primary" href="{% url 'article_update' article.pk %}" role="button">Редактировать статью</a>
                        {% endif %}
                        {% if perms.articles.delete_article %}
                            <a class="btn btn-danger" href="{% url 'article_delete' article.pk %}" role="button">Удалить статью</a>
                        {% endif %}
                    </div>

                    <div class="mt-5">
                        Tags: {% for tag in article.tags.all %}
                            {{ tag.name }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="mt-5">
                <ul class="list-group">
                    {% for comment in comments %}
                        <li class="list-group-item mb-3">
                            <div>@{{ comment.author }}</div>
                            <div>{{ comment.text }}</div>
                            <div style="font-size: 10px; color: grey;">{{ comment.created_at }}</div>
                            <div>
                                <a href="{% url 'update_comment' comment.pk %}" class="btn btn-primary btn-sm">Редактировать</a>
                                <a href="{% url 'delete_comment' comment.pk %}" class="btn btn-danger btn-sm">Удалить</a>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <a href="{% url 'add_comment' article.pk %}" class="btn btn-success">Добавить комментарий</a>
{#            <div class="mt-3">#}
{#                <form action="{% url 'add_comment' article.pk %}" method="POST">#}
{#                    {% csrf_token %}#}
{#                    {{ form.as_p }}#}
{#                    {% for field in form %}#}
{#                        <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>#}
{#                        <div>{{ field }}</div>#}
{#                    {% endfor %}#}
{#                    <input type="submit" class="btn btn-success" value="Оставить комментарий">#}
{#                </form>#}
{#            </div>#}
        </div>
    </div>
{% endblock %}