{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Document</title>
</head>
<body>
    {% include 'partial/navigation.html' %}

    <div class="container">
        {% block menu_links %}
        {% endblock %}

        <div>
            <label for="login">Username</label>
            <input type="text" id="login">
            <label for="password">Password</label>
            <input type="password" id="password">
            <button id="auth">Login</button>
        </div>

        {% block content %}
        {% endblock %}
    </div>

    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <script>
        $(document).ready(function () {
            let token = "";

            $('#auth').on('click', function (e) {
                let username = $('#login').val();
                let password = $('#password').val();

                $.ajax({
                    url: 'http://127.0.0.1:8000/api/v1/login/',
                    method: 'POST',
                    data: {
                        username: username,
                        password: password
                    },
                    dataType: 'json',
                    content_type: 'application/json',
                    success: function (response, status) {
                        console.log('Ok!');
                        localStorage.setItem('token', `Token ${response.token}`)
                    },
                    error: function (response, status) {
                        console.log('Error!');
                        console.log(response);
                    }
                })
            })

            $('#getArticles').on('click', function (e) {
                $.ajax({
                    url: 'http://127.0.0.1:8000/api/v1/articles/',
                    method: 'GET',
                    content_type: 'application/json',
                    beforeSend: function (request) {
                        request.setRequestHeader("Authorization", localStorage.getItem('token'))
                    },
                    success: function (response, status) {
                        console.log('Ok!');
                        console.log(response);
                    },
                    error: function (response, status) {
                        console.log('Error!');
                        console.log(response);
                    }
                })
            })

            $('#apiLogout').on('click', function (e) {
                $.ajax({
                    url: 'http://127.0.0.1:8000/api/v1/logout/',
                    method: 'POST',
                    dataType: 'json',
                    headers: {
                      "Authorization": localStorage.getItem('token')
                    },
                    success: function (response, status) {
                        console.log('Ok!');
                        localStorage.removeItem('token');
                    },
                    error: function (response, status) {
                        console.log('Error!');
                        console.log(response);
                    }
                })
            })
        })
    </script>
</body>
</html>