{% extends 'base.html' %}

{% block content %}
    <div class="text-center">
        <h1>Блог</h1>
    </div>
    <div class="d-flex justify-content-center">
        <a href="{% url 'article_create' %}" class="btn btn-primary">Создать статью</a>
    </div>
    {{ hello }}
{% endblock %}