{% if not fields_only %}
    <form action="{{ action_url }}" method="{{ form_method }}" enctype="multipart/form-data">
        {% csrf_token %}
{% endif %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">{{ error }}</div>
        {% endfor %}

        {% for field in form %}
            <div class="mb-3">
                {% for error in field.errors %}
                    <div class="text-danger">{{ error }}</div>
                {% endfor %}
                <div>{{ field.label }}</div>
                <div>{{ field }}</div>
            </div>
        {% endfor %}
{% if not fields_only %}
        <button class="btn btn-primary" type="submit">{{ button_text|default:"Сохранить" }}</button>
    </form>
{% endif %}