<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'main' %}">MyBlog</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'main' %}">Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'article_create' %}">Создать статью</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'article_list' %}">Список статей</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'author_create' %}">Добавить автора</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'author_list' %}">Список авторов</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'genre_list' %}">Список жанров</a>
                </li>
                <li class="nav-item">
                    <button id="getArticles">Get articles</button>
                </li>

                {% if not request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="btn btn-info" href="{% url 'accounts:login' %}?next={{ request.get_full_path }}">Войти</a>
                    </li>
                    <li class="nav-item ms-3">
                        <a class="btn btn-info" href="{% url 'accounts:user_registration' %}?next={{ request.get_full_path }}">Регистрация</a>
                    </li>
                {% else %}
                    <li class="nav-item me-3">
                        <p>Привет <a href="{% url 'accounts:user_detail' user.pk %}">{{ user.username }}</a></p>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-info" href="{% url 'accounts:logout' %}?next={{ request.get_full_path }}">Выйти</a>
                    </li>
                    <li>
                        <button id="apiLogout">Logout</button>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>