<form class="d-flex" role="search" method="GET">
    <input name="search" class="form-control me-2" type="search" placeholder="Найти" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Найти</button>
</form>